<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/main.css" />

</head>
<body>
    <div>
        <h2>Course Evaluation</h2>
    </div>

    <table class="center">
        <tr>
            
            <td> <a href="/signup">Sign Up as Student</a> </td>
        </tr>
        <tr>
			
            <td><a href="/signin">Sign In as Student</a></td>
        </tr>
        <tr>
            <td><a href="/students">Display All Students</a></td>
        </tr>
        <tr>
            <td><a href="/comments">Display Comments by Student</a></td>
        </tr>

    </table>

</body>
</html>