<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/main.css">
    <title> Login Page </title>
</head>
<body>

<h1>Login to evaluate the course:</h1>
<form method="post">
        <div class="outer_container">
        <div class="container">
        <label for="email">Email:</label>
        <input type="text" class="fields" placeholder="Enter your email" name="email"><br /> 
    </div>
    <div class="container">     
        <label for="password">Password:</label>
        <input type="password" class="fields" placeholder="Enter your password" name="password"><br />       
    </div>
    <div class="container">
        <button type="submit" class="form-field-no-caption">Login</button>
    </div>
</div>
    </form>
</body>
</html>
