<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/main.css">
    <title> Login Page </title>
</head>
<body>

<h1>Login to evaluate the course:</h1>

    <form method="post">
        <label for="email">Email:</label>
        <input type="text" size="50" placeholder="Enter your email" name="email"><br />      
        <label for="password">Password:</label>
        <input type="password" size="50" placeholder="Enter your password" name="password"><br />       
        <input type="submit" value="Login" name="submit">
    </form>
</body>
</html>
