<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Find Comment by Email</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" />

</head>
<body>
    <form action="/comments" method="post">
        <div class="outer_container">
        <div class="container">
            <label>
                <b>Email:</b>
            </label>
            <input type="text" name="email"/>
        </div>
        <div class="container">
            <button type="submit" class="form-field-no-caption">Find Comments</button>
        </div>
    </div>
    </form> 
    <a href="http://localhost:5000"> Main Page</a>

</body>
</html>