<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title></title>
</head>
<body>

    <form action ="thankyou.ejs" method="post">   

        <label for="courseCode">Course Code:</label>
        <input type="text" placeholder="Enter your course code" name="courseCode"><br />
      
        <label for="courseName">Course Name:</label>
        <input type="text"  placeholder="Enter your course name" name="courseName"><br />
        
        <label for="program">Program:</label>
        <input type="text" placeholder="Enter your program" name="program" /><br/>

        <label for="semester">Semester:</label>
        <input type="text" placeholder="Enter your semester" name="topic"><br />

        <label for="comment">Comment:</label>
        <input type="text" placeholder="Enter your comment" name="comment"><br />
           
        <label for="comment">Your comments:</label>
        <textarea name="comment" rows="4"></textarea><br/>

        <input type="submit" value="Submit" name="submit">

   </form>
</body>
</html>
