<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title></title>
</head>
<body>
    <h1>Thank you <%= email %></h1>
    <h3>We appreciate your comment: <%= comment %></h3>
</body>
</html>
